.l-footer {
    width: 100%;
    background-color: $bgColor3;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    &__container {
        @include setMaxWidth(1518px);
        margin: 0 auto;
        padding-top: 105px;
        color: $darkColor;
        display: flex;
        gap: 160px;
        h3 {
            @include archivoBlackFont();
            font-size: 18px;
            margin-bottom: 20px;
            color: $darkColor;
        }
        .footer-info {
            max-width: 615px;
            p {
                @include robotoFont();
                font-size: 16px;
                line-height: 28px;
            }
            &__download {
                margin-top: 40px;
                .down-img {
                    display: flex;
                    gap: 15px;
                }
            }
        }
        .footer-tag {
            display: flex;
            gap: 50px;
            max-width: 50%;
            a {
                color: $darkColor;
                @include robotoFont();
                font-size: 16px;
                line-height: 28px;
            }
        }
    }
    address {
        text-align: center;
        padding: 60px 0;
        @include robotoFont();
        font-size: 16px;
    }
}