.mx-auto {
    margin: 0 auto;
}
.md-hidden {
    display: none;
}
@media screen and (max-width: 415px) {
    .xs-hidden {
        display: none;
    }    
    .xs-inflex {
        display: inline-flex;
    }
    .xs-block {
        display: block;
    }
}
