.p-services {
    width: 100%;
    position: absolute;
    bottom: -200px;
    @include setMaxWidth();
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    &__container {
        display: flex;
        gap: 30px;
    }
}
@media screen and (max-width: 800px) {
    .p-services {
        @include setMaxWidth(344px);
        bottom: 0;
        position: relative;
        margin-bottom: 100px;
        &__container {
            display: block;
        }
    }
}