.p-subscribe {
    background: $bgColor3;
    width: 100%;
    @include setMaxWidth();
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 180px;
    &__blob {
        position: absolute;
        top: -380px;
        left: -180px;
        z-index: 0;
    }
    &__inner {
        height: 100%;
        display: flex;
        flex-direction: row-reverse;
        z-index: 1;
        position: relative;
        .subscribe-info {
            width: 50%;
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            z-index: 1;
            &__inner {
                max-width: 616px;
                margin: 0 auto;
                .subscribe-form {
                    form {
                        display: flex;
                        justify-content: space-between;
                        padding-right: 15px;
                        .form-group {
                                &::before {
                                    content: url("../img/email.svg");
                                }
                        }
                    }
                    background: $whiteColor;
                    width: 616px;
                    padding: 15px 0;
                    border-radius: 20px;
                    input {
                        border: 0;
                        outline: none;
                        @include robotoFont(400);
                        font-size: 14px;
                    }
                    .form-group {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        margin-left: 30px;
                    }
                    .form-btn {
                        background: $orangeColor;
                        width: 50px;
                        height: 50px;
                        border-radius: 20px;
                        a {
                            width: 100%;
                            height: 100%;
                            display: inline-flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
            }
        }
        .subscribe-img {
            width: 50%;
            display: flex;
            justify-content: center;
        }
        h2 {
            @include archivoBlackFont();
            font-size: 40px;
            color: $darkColor;
            margin-bottom: 12px;
        }
        p {
            @include robotoFont(500);
            font-size: 16px;
            color: $darkColor;
            line-height: 25px;
            margin-bottom: 30px;
        }
    }          
}
@media screen and (max-width: 800px) {
    .p-subscribe {
        @include setMaxWidth(690px);
        &__inner {
            padding: 0 30px;
        }
    }
}
@media screen and (max-width: 500px) {
    .p-subscribe {
        @include setMaxWidth(374px);
        margin-bottom: 100px;
        &__blob {
            top: -5%;
            left: -145%;
        }
        &__inner {
            display: block;
            @include setWidth(342px);
            margin: 0 auto;
            .subscribe-img {
                @include setWidth(100%);
                img {
                    @include setWidth(100%);
                    margin: 40px 0;
                }
            }
            .subscribe-info {
                @include setWidth(100%);
                &__inner {
                    @include setWidth(100%);
                    h2 {
                        text-align: center;
                    }
                    p {
                        text-align: center;
                    }
                    .subscribe-form {
                        @include setMaxWidth(100%);
                        margin-bottom: 42px;
                    }
                }
            }
        }
    }
}
